body {
  font-family: "PT Mono", monospace;
  width: 100%;
  margin-bottom: 15px;
  background-image: url("/images/sky2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
h1,
h3 {
  font-family: "Roboto", sans-serif;
  width: 200px;
  line-height: 1.5;
}
h1 {
  margin-top: -110px;
  font-size: 50px;
  color: white;
}

.image {
  height: 50px;
  float: right;
  width: 200px;
  margin-top: -400px;
  border-radius: 15px;
}
p {
  right: 0;
}
form {
  text-align: right;
  margin: 15px 0 48px;
}
.container {
  text-align: center;
  margin: auto;
  max-width: 900px;

  border-radius: 10px;
  padding-bottom: 10px;
}
.days {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(227, 204, 188, 0.25);
  border-radius: 15px;
  width: 100%;
  color: black;
  margin: 20px 0 10px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.week {
  padding: 15px;
  display: inline-block;
  bottom: 0;
}
.week.Tue {
  font-size: 20px;
}
.fa-solid {
  color: antiquewhite;
}
.city {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #9d606a;
  border-radius: 10px;
}
.button-city {
  margin-top: 20px;
  padding: 5px;
  background: #6c63ff;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  transition: all 200ms ease-in-out;
}
.button-city:hover {
  background: aliceblue;
  color: #6c63ff;
  cursor: pointer;
}
.rain {
  color: #8e6374;
  font-size: 15px;
}
.newTime {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}
.units {
  color: #6c63ff;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -35px;
}
.hour {
  color: #d9c3ae;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}
.button-current {
  margin-top: 20px;
  padding: 5px;
  background-color: lightpink;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  transition: all 200ms ease-in-out;
}
.button-current:hover {
  background: aliceblue;
  color: #9d606a;
  cursor: pointer;
}
.open-sorce {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: aqua;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.active {
  cursor: default;
  color: #2f2e41;
}
.active:hover {
  color: #2f2e41;
}

.unitesTemp {
  position: relative;
  top: -60px;
  font-size: 16px;
}
.temperature {
  font-size: 90px;
  font-weight: 500;
  color: #9d606a;
  font-family: "Roboto", sans-serif;
  width: 200px;
  line-height: 1.5;
}
.float-left {
  width: 140px;
}
.time {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
.weatherToday {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(227, 204, 188, 0.3);
  border-radius: 15px;
}
.row {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
